/* Text Input */
.text-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  
  .text-input:focus {
    border-color: #5e9ed6;
  }
  
  /* Button */
  .button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #5e9ed6;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #407bbf;
  }
  